<div class="widget">
   <!-- <a href="http://127.0.0.1:3000/#/checkWrite" style="font-size:16px;margin-right:4px;"  >go</a> 
   -->
 <span  style="font-size:16px;" >  一期一会</span>
<!--
  <select id="enote-language-switch">
    <option value="zh-CN">zh-cn</option>
    <option value="jap">jap</option>
    <option value="en">en</option>
  </select> -->
<!--
<br>
 <a href="javascript:void(0);" id="song-switch" style="font-size:16px;margin-right:4px;"  >on/off</a>  

 <a href="#" id="download" style="font-size:16px;"  >download-music</a> -->


</div>




<script>
  // var $els = document.getElementById("enote-language-switch");

 
 

  // $els.onchange = function (e) {

  //   e = e || window.event;

  //   if (e && e.target) {
  //     var link = e.target.value;

  //     if (link === "zh-cn") {
  //       window.location.href = `https://lengyuexin.github.io`
  //     } else if (link === "jap") {
  //       window.location.href = `https://lengyuexin.github.io/enote-ja`
  //     } else if (link === "en") {
  //       window.location.href = `https://lengyuexin.github.io/enote-en`
  //     }
  //   }

  // }

</script>